<h1> All articles </h1>

<%= link_to 'New article', new_article_path %>

<table>
  <tr>
    <th> Title </th>
    <th> Text </th>
    <th></th>
  <tr>

  <% @articles.each do |a| %>
    <tr>
      <td><%= a.title %></td>
      <td><%= a.text %></td>
      <td><% link_to 'Show', article_path(a) %></td>
    </tr>
  <% end %>
</table>
