<h1> Zihsiang's blog H1 title</h1>

<%=# link_to is a built-in view helpers. It
   #  creates a hyper link based on text to display
   #  and where to go
 %>

<%= link_to 'Zihsiang blog', controller: 'articles' %>
